@import "../utils/block";

.xlog-page-archive {
  a[href^="/tag/"] {
    border: 1px solid var(--theme-color-light);
    box-shadow: 0 1px 4px rgb(var(--block-box-shadow) / 10%);
    border-radius: 16px;
    display: inline-block;
    margin: 4px;
    padding: 2px 12px;
    transition: background-color 0.2s;

    &::before {
      content: "# ";
      color: var(--theme-color);
    }

    &:hover {
      background-color: var(--theme-color-dim);
    }
  }
}

html.dark .xlog-page-archive a[href^="/tag/"] {
  border-color: var(--theme-color-dim);
}
