@import "../config";
@import "../utils/block";

// Index
.xlog-posts {
  .xlog-post {
    @extend %block;
    padding: 0;
    margin: 1.75rem 1.25rem;

    .xlog-post-title {
      transition: color .2s;
    }

    > :not(.xlog-post-cover) {
      padding: 1.75rem;
      gap: .5rem;
    }

    > .xlog-post-cover {
      margin: 0;
      padding: 0;
      > span {
        border-radius: 12px;
        img {
          transition: all .5s;
        }
      }
    }

    @media (width > $breakpoint-middle) {
      height: 18.75rem; // Image height

      > .xlog-post-cover {
        height: 100%;
        width: 50%;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
        > .xlog-post-cover {
          margin-left: 0;
          margin-right: 1rem;
          > span, img {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        &:hover .xlog-post-cover img {
          transform: scale(1.1) rotate(-2deg);
        }
      }

      &:nth-child(odd) {
        flex-direction: row;
        > .xlog-post-cover {
          margin-left: 1rem;
          margin-right: 0;
          > span, img {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        &:hover .xlog-post-cover img {
          transform: scale(1.1) rotate(2deg);
        }
      }
    }

    @media (width <= $breakpoint-middle) {
      flex-direction: column-reverse;
      > .xlog-post-cover {
        width: 100%;
        height: 10rem;
        > span, img {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    &:hover {
      .xlog-post-title {
        color: var(--theme-color);
      }
    }
  }
}

button[aria-label="load more"] {
  padding: 24px 0!important;
  border: 1px solid var(--theme-color-light);
  color: var(--theme-color-dark);
  border-radius: 48px;
}

// Post
div[class^="xlog-post-id-"]:not(.xlog-post-id-undefined) {
  .xlog-post-content {
    background-color: rgba(white, .8);
    padding: 1.75rem;
    @extend %block;
  }

  .xlog-reactions {
    background-color: rgba(white, .8);
    padding: 1.75rem;
    @extend %block;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

    justify-content: space-around;
  }

  .xlog-comment {
    @extend .xlog-post-content;

    textarea {
      background: url(https://cf-ipfs.com/ipfs/bafkreiasu4z44njd7wq62vvleo6inpjcaerws4zqrcv6x452znn5bs2j3m) 100% 100% no-repeat;
    }
  }
}

// Archive
// TODO: Limit in archive page only
.xlog-post-id-undefined {
  > div {
    background-color: rgba(white, .8);
    padding: 1.75rem;
    @extend %block;
  }
}
