@import "../utils/breakpoints";
@import "../utils/block";
@import "../config";

.xlog-page-post {
  .xlog-post-content {
    background-color: rgba(white, 0.8);
    padding: 1.75rem;
    @extend %block;
  }

  .xlog-post-toc {
    max-width: calc((100vw - $breakpoint-middle) / 2) !important;

    > div {
      background-color: rgba(white, 0.8);
      padding: 1.75rem;
      @extend %block;
    }

    @media (width < $breakpoint-xlarge) {
      display: none !important;
    }
  }

  .xlog-reactions {
    background-color: rgba(white, 0.8);
    padding: 1.75rem;
    @extend %block;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;

    justify-content: space-around;
  }

  .xlog-comment {
    @extend .xlog-post-content;
  }
}

$comment-background-image-webp: url("#{$ipfs-prefix}bafkreielb2nkt6urqegys6ojfekknmgbjnna3265n2dp3auwmbchbwfuge");
$comment-background-image-png: url("#{$ipfs-prefix}bafkreiasu4z44njd7wq62vvleo6inpjcaerws4zqrcv6x452znn5bs2j3m");

.xlog-comment-input textarea {
  @supports (background-image: $comment-background-image-webp) {
    background-image: $comment-background-image-webp;
  }
  background-image: $comment-background-image-png;

  background-position: 100% 100%;
  background-repeat: no-repeat;
}
