@import "../utils/breakpoints";
@import "../config";

$height-navbar: 40px;
$height-header-normal: 360px;

.xlog-header {
  position: sticky;
  height: $height-header-normal;
  top: $height-navbar - $height-header-normal; // nav height (40px) - header height
  z-index: 1;
  border: none;

  background-color: var(--theme-color-dim);

  .xlog-banner {
    height: calc(100% - $height-navbar);

    img[alt="banner"] {
      width: 100%;
      max-width: unset;
      filter: blur(8px) brightness(60%);
    }
  }

  .xlog-site-info {
    justify-content: center;

    > span {
      display: none;
    }

    & > div {
      margin: 0 !important;

      .xlog-site-name {
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;

        color: white;
      }

      .xlog-site-description {
        padding: 1rem 2rem;
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
      }

      .xlog-site-others {
        text-align: center;
        > * {
          color: white;
        }

        .xlog-site-followers,
        .xlog-site-followings {
          > span {
            color: var(--theme-color-light);
            transition: color 0.2s;
          }

          &:hover > span {
            color: var(--theme-color-dim);
          }
        }

        button[aria-label="follow"] {
          color: var(--theme-color-light);
          transition: color 0.2s;

          &:hover {
            color: var(--theme-color-dim);
          }
        }
      }
    }
  }

  // Connect button
  .xlog-site-navigation + div button {
    padding: 0 1rem;
    border: var(--theme-color-light) 1px solid;
    border-radius: calc($height-navbar / 2);
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--theme-color-light);
    }
  }
}

$before-color: #5bd0fa;
$after-color: #f5acba;
$glitch-offset: 0.2rem;
$avatar-base-size: 12rem;

.xlog-page-index {
  @media (width > $breakpoint-large) {
    .xlog-header {
      height: 100vh;
      top: calc($height-navbar - 100vh);
    }

    .xlog-site-info {
      display: flex;
      flex-direction: column;

      > span {
        display: flex;
        width: $avatar-base-size !important;
        height: $avatar-base-size !important;
        margin-bottom: 2rem;
        outline: 0.2rem dashed var(--theme-color-light);
        outline-offset: 0.3rem;
        transition: scale 0.3s;

        img {
          width: 100%;
          height: 100%;
        }

        &:hover {
          scale: (1.1);
        }
      }

      .xlog-site-name {
        font-size: 4rem;

        position: relative;

        &::before,
        &::after {
          //content: contents; // Not implemented, see https://drafts.csswg.org/css-content-3/
          content: $site-name; // TODO: find a better method (like specify attr?)
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          text-shadow: none;
          transition: text-shadow 0.3s;
        }

        &:hover {
          &::before {
            text-shadow: -$glitch-offset 0 $before-color;
          }
          &::after {
            text-shadow: $glitch-offset 0 $after-color;
          }
        }
      }

      .xlog-site-description {
        padding: 2rem 6rem;
        font-weight: 700;
      }
    }
  }
}
