/**
  Theme Sakura for xLog by Nya Candy
  All rights reserved.
 */

@import "header";
@import "body";
@import "footer";

:root {
  --theme-color: #f43f5e;
  --theme-color-dim: #fff1f2;
  --theme-color-light: #fecdd3;
  --theme-color-dark: #be123c;

  --hover-color: var(--theme-color-dim);
}

$page-background-image-webp: url("https://cf-ipfs.com/ipfs/bafkreicczac6dsz5gkb7566ctnaucfmtwgblx3wposkz7esad76qt2magm");
$page-background-image-png: url("https://cf-ipfs.com/ipfs/bafkreieh4s4y3c6vcfa5pu6a6ihyequdb4o7gm65c47vfgomyka5vgmq2i");

body {
  @supports (background-image: $page-background-image-webp) {
    background-image: $page-background-image-webp;
  }
  background-image: $page-background-image-png;
  background-attachment: fixed;
}
