/**
  Theme Sakura for xLog by Nya Candy
  All rights reserved.
 */

@import "header";
@import "body";
@import "footer";

:root {
  --theme-color: #f43f5e;
  --theme-color-dim: #fff1f2;
  --theme-color-light: #fecdd3;
  --theme-color-dark: #be123c;

  --block-background-color: #ffffffcc;
  --block-box-shadow: #0000007f;

  --hover-color: var(--theme-color-dim);
}

/* Color palette for dark mode */
html.dark {
  --theme-color: #f43f5e;
  --theme-color-dim: #3c495bcc;
  --theme-color-light: #282c34dd;
  --theme-color-dark: #be123c;

  --block-background-color: #282c34dd;
  --block-box-shadow: #ffffff7f;

  body {
    background-color: #181c27;
  }
}

$page-background-image-webp: url("#{$ipfs-prefix}bafkreigmilaklouywaqdjx6suo4rwg7lujudvifanjmlujmnzln72qz3re");
$page-background-image-png: url("#{$ipfs-prefix}bafkreic4ys3hhl4rc6lrdzhyecv35iq53p4iwbwof2dsafssgp3aptfgt4");

body {
  @supports (background-image: $page-background-image-webp) {
    background-image: $page-background-image-webp;
  }
  background-image: $page-background-image-png;
  background-attachment: fixed;
}
