footer {
  border: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    var(--theme-color-dim) 30%,
    var(--theme-color-dim)
  );
  padding-top: 2rem;

  > div {
    padding-bottom: 0 !important;
    > p {
      //color: #b9b9b9;
      text-align: center;
      font-size: 13px !important;
      &::before {
        content: "Theme Sakura 🌸 by Nya Candy";
        display: block;
        margin-bottom: 20px;
        @extend p;
      }
    }
  }
}
